body {
    color: #F0F0F0;
    background-color: #1A1A1A;
    
    margin: 0;
    padding: 0;
}

#navbar {
    overflow: auto;
}

#navbar ul {
    list-style-type: none;
    
    padding: 0;
    margin: 0;
}

#navbar li {
    display: inline;
    float: left;
}

#navbar a {
    display: block;
    text-decoration: none;
    color: #F0F0F0;
    
    padding: 14px 16px;
}